{% extends 'base.html' %}


{% block content %}
    <div class="py-5">
        <h2 class="text-center">Мониторинг новостных ресурсов</h2>
        <p>Групп {{ groups_cnt }}</p>
        <p>Пользователей {{ persons_cnt }}</p>
        <p>Постов {{ posts_cnt }}</p>
        <p>Новостных ресурсов {{ resources_cnt }}</p>
        <form method="post">
            {% csrf_token %}
            <button class="btn btn-primary disabled" disabled>Parse!</button>
        </form>

        {% if message %}
        <p>{{ message }}</p>
        {% endif %}
    </div>
{% endblock %}