<nav class="nav flex-column">
  <a class="nav-link" href="{% url 'digests:index' %}">Вариант 1</a>
  <a class="nav-link" href="{% url 'digests:index2' %}">Вариант 2</a>
  <a class="nav-link" href="{% url 'digests:index3' %}">Вариант 3</a>
</nav>