<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container"> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar18">
  <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbar18"> <a class="navbar-brand d-none d-md-block" href="/">
      <i class="fa d-inline fa-lg fa-circle"></i>
      <b>MediaProject</b>
      </a>
      <ul class="navbar-nav mx-auto">
        <li class="nav-item"> <a class="nav-link text-white" href="/admin">Dashboard</a> </li>
        <li class="nav-item"> <a class="nav-link" href="{% url 'digests:index' %}">Digests</a> </li>
        <li class="nav-item"> <a class="nav-link" href="{% url 'vk_monitoring:index' %}">Vk monitoring</a> </li>
      </ul>
      <ul class="navbar-nav">
        {% if request.user.is_authenticated %}
          <li class="nav-item"> <a class="nav-link" href="{% url 'myauth:logout' %}">Log out</a> </li>
        {% else %}
          <li class="nav-item"> <a class="nav-link" href="{% url 'myauth:login' %}">Log in</a> </li>
          <li class="nav-item"> <a class="nav-link text-white" href="{% url 'myauth:registration' %}">Register</a> </li>
        {% endif %}

      </ul>
    </div>
  </div>
</nav>