{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <!--<div class="row pt-4">-->
      <!--<div class="col-md-3">-->
        <!--{% include './includes/_navbar.html' %}-->
      <!--</div>-->
      <!--<div class="col-md-9">-->

      <!--</div>-->
    <!--</div>-->
    {% block inner %}{% endblock %}
  </div>



{% endblock %}