{% extends 'central/central_base.html' %}

{% block inner %}
    <div class="py-3">
        <h2 class="text-center">Media project starter page</h2>
        <ul>
            <li><a href="{% url 'digests:index' %}">Digests</a></li>
            <li><a href="{% url 'vk_monitoring:index' %}">Vk monitoring</a></li>
        </ul>
    </div>
{% endblock %}
