{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="row py-4">
      <div class="col-md-2">
        {% include 'digests/includes/_navbar.html' %}
      </div>
      <div class="col-md-10">
        {% block inner %}{% endblock %}
      </div>
    </div>
  </div>



{% endblock %}