{% extends 'digests/digests_base.html' %}

{% block inner %}
    <div class="col-md-6 offset-md-3">
        <h3>Вариант 3</h3>
        <form method="post" class="py-2">
          {% csrf_token %}
          <div class="form-group">
            <label for="ControlTextarea">url (Например, https://rb.ru/longread/in-the-end/)</label>
            <input class="form-control" id="ControlTextarea" name="url" />
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        {% if text %}
        <p>{{ text }}</p>
        {% endif %}
    </div>
{% endblock %}