{% extends 'digests/digests_base.html' %}

{% block inner %}
    <div class="col-md-6 offset-md-3">
        <h3>Вариант 1</h3>
        <form method="post" class="py-2">
          {% csrf_token %}
          <div class="form-group">
            <label for="ControlTextarea">Исходный текст</label>
            <textarea class="form-control" id="ControlTextarea" rows="5" name="text"></textarea>
          </div>
          <div class="form-group">
            <label for="Input">Количество предложений</label>
            <input type="text" class="form-control" id="Input" name="n">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        {% if text %}
        <p>{{ text }}</p>
        {% endif %}
    </div>
{% endblock %}